<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/app.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav white">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">map</h1>
		</header>
		<div class="mui-content">
			<button id="map" type="button" class="mui-btn mui-btn-primary">蓝色</button>
			<br />
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript">
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		var posi = null;
		var latitude = null;
		var longitude = null;
		mui.plusReady(function() {
			// Android  iOS
			console.log("系统名字 = " + plus.os.name);
		}); 
		document.getElementById('map').addEventListener('tap',function(){
			// 调起百度地图 
			// http://lbsyun.baidu.com/index.php?title=uri/api/android
			// iOS端
			var href = "baidumap://map/geocoder?address=湖北工业大学&src=webapp.geo.yourCompanyName.yourAppName";
			// Android端
			var anhref = "bdapp://map/geocoder?address=湖北工业大学&src=openApiDemo"
			var osName = plus.os.name;
			if (osName == "iOS") {
				window.open(href);
				window.open('http://apis.map.qq.com/uri/v1/marker?marker=coord:30.500925,114.369063;title:吉客优鲜名都花园店;addr:湖北省武汉市洪山区康福路29号学雅芳邻&referer=myapp');
			} else{
				window.open(anhref);
			}
		})
	</script>
</html>