<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/app.css" />
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="../js/jquery.qrcode.min.js" ></script>
	</head>

	<style>
		.qrcode{
			margin-top: 10px;
		}
	</style>

	<body>
		
		<header class="mui-bar mui-bar-nav white">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">二维码生成</h1>
		</header>
		<div class="mui-content">
			<div class="qrcode" style="background: white;height: 256px; width: 256px;"></div>
		</div>
		
	</body>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			var qrcodeUrl = "http://blog.csdn.net/zhuming3834";
		
			mui.init();
			mui.plusReady(function(){
				makrQRCode();     
			})
			
		// 制作二维码
		function makrQRCode() {
			$('.qrcode').qrcode(qrcodeUrl);
		}
			
		</script>


</html>